/**
 * MellowUI Divider Styles
 */

.divider {
    border: none;
    margin: 0;
    flex-shrink: 0;
}

/* ========== Orientation ========== */

.horizontal {
    width: 100%;
    height: 0;
    border-top-style: solid;
}

.vertical {
    height: 100%;
    width: 0;
    border-left-style: solid;
    align-self: stretch;
}

/* ========== Variants ========== */

.solid {
    border-style: solid;
}

.dashed {
    border-style: dashed;
}

.dotted {
    border-style: dotted;
}

/* ========== Colors ========== */

.color-default {
    border-color: rgba(107, 90, 71, 0.2);
}

.color-subtle {
    border-color: rgba(107, 90, 71, 0.1);
}

.color-accent {
    border-color: rgba(179, 153, 255, 0.4);
}